@import '../app.css';

.gestion-content-container{
  padding: 0 10px 0 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gestion-content-add-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px 0 10px;
}

.gestion-form-text{
  font-size: 1.1em;
}

.form-button{
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  padding: 10px 5px 10px 5px;
  vertical-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 80%;
}

.form-button-span{
  margin-left: 10px;
}

.add-form-button{
  background-color: var(--custom-primary);
}

.edit-form-button{
  background-color: var(--ion-color-warning);
}

.delete-form-button{
  background-color: var(--ion-color-danger);
}

.modal-button{
  background-color: var(--ion-color-danger);
  height: 7vh;
  font-size: 1.2em;
}
