@import '../app.css';

.profile-tab-content{
  min-height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profil-avatar{
  border-radius: 50%;
  max-width: 30%;
}

.profil-name{
  font-size: 2em;
  margin: 0;
}

.profil-type{
  margin: 0;
  opacity: 0.5;
}

.profil-links-container{
  width: 85%;
  margin-top: 50px;
}

.separator{
  background-color: rgba(255, 255, 255, .5);
  height: 1px;
  width: 100%;
}

.profil-cta-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.button{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
  border-radius: 5px;
}

.button-share{
  background-color: var(--ion-color-primary);
}

.button-logout{
  background-color: var(--ion-color-danger);
}
