.generic-card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generic-card-header-stat{
  margin: 0;
  font-size: 1em;
}

.generic-card-content-link-container{
  width: 100%;
  text-align: right;
}

.generic-card-link{
  color: var(--custom-primary);
  text-decoration: none;
}
