.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container a{
  text-decoration: none;
  color: var(--custom-primary);
}
