.separator{
  /* background-color: rgba(var(--custom-white), .5); */
  background-color: #FCFCFC;
  height: 1px;
  width: 100%;
}

p{
  font-size: 1.2em;
}

.info-data{
  margin-top: 0;
}

.info-name{
  margin-bottom: 0;
  font-size: .8em;
  color: rgba(255, 255, 255, .5);
}
