@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Montserrat';
}

.section-title{
  font-weight: 700;
  font-style: italic;
  font-size: 1.5em;
}

.ion-icon{
  /* top: 10px; */
  /* padding-top: 10px; */
}

.d-column{
  display: flex;
  flex-direction: column;
}

.d-row{
  display: flex;
  flex-direction: row;
}

.form-control{
  margin-bottom: 15px;
}

.text-center{
  text-align: center;
}

.mt-0{
  margin-top: 0;
}
